.card-portafolio {
    width: 12rem;
    height: 14rem;
    position: absolute;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    background: #1a89e1;
    box-shadow: 2px 2px 8px 1px rgb(93, 93, 93);
    border-radius: 20px;
    padding: 0px 0px 2rem 10px;
  }

  .card-portafolio span:nth-of-type(1) {
    color: black;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    
  }
  .card-portafolio span:nth-of-type(2) {
    color: white;
    font-size: 13px;
    margin-top: -.8rem;
    font-family: 'Poppins', sans-serif;
   
  
  }
  .card-portafolio > img {
    transform: scale(.8);
    margin-bottom: -3rem;
  }

  .c-button {
    background: transparent;
    border: none;
    color: white;
}

.c-button:hover{
    transform: scale(1.1);
    cursor: pointer;
}


@media screen and (max-width: 480px){
    .card-portafolio{
      width: auto;
    }
  }