.container-experience{
   
    display: flex;
    flex-direction: column;
    margin-top: -2rem;
    gap: 4rem;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
   border-bottom: 2px dotted var(--orange);
    padding-bottom: 7rem;
 
}


.experience {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 1vh;
    margin-bottom: 4rem;
    
    /* darkmode */
    color: var(--black);
    
  }
  .achievement{
      display: flex;
      flex-direction: column;    
      align-items: center;
      margin-top: 5rem;
    
  }
  .circle {
      width: 4rem;
      height: 4rem;
      background: white;
      border-radius: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: .5rem;
  }
  .circle::before {
      border-radius: 100%;
      content: '';
      background-image: linear-gradient(to bottom, #87e6fb 0%, #ffc05c 100%);
      top: -8px;
      left: -8px;
      bottom: -8px;
      right: -8px;
      position: absolute;
      z-index:-1;
      box-shadow: var(--boxShadow);
  }
  .imge-habiliti{
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
  
  .achievement span:nth-of-type(2){
      color: var(--orange);
      font-family: 'Poppins', sans-serif;
  }
  .awesome1{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;

  }

  .awesome1 > :nth-child(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }

  .awesome1 > :nth-child(2) {
    color: var(--orange);
    font-size: 3rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }

  .awesome1 > :nth-child(3) {
    color: var(--gray);
    font-size: 20px;
    line-height: 1.5rem;
    margin-top: 1rem;
  }
 
  /* blur */
/* .s-blur4 {
    left: -25rem;
    top: 1rem;
  }
  
  .s-blur3 {
    top: 20rem;
    left: 0rem;
  } */

  
  
  @media screen and (max-width: 480px) {
      .experience{
          transform: scale(0.7);
      }
  }